<header class="page-header text-center">
      <h1>Danebook Pages</h1>
</header>
<main class="container text-center">
  <a href="about.html">About</a> | 
  <a href="about_edit.html">About Edit</a> | 
  <a href="friends.html">Friends</a> | 
  <a href="photos.html">Photos</a> | 
  <a href="timeline.html">Timeline</a> | 
</main>