<section class="col-md-12 comment-section">
  
  <div class="post-comments" id="<%= "post-#{post.id}" %>">
    <% if post.comments.any? %>
      <% post.comments.each do |comment| %>
            <%= render partial: "comment", locals: { :comment => comment } %>
        <% end %>
    <% end %>
  </div>
      

  <!--post a comment form -->
  
  <%= render partial: "comment_form", locals: {:post => post} %>
</section>