<% if current_user %>
    <%= form_for [current_user, @post], html: { class: "row", id: "post-form" } do |post_fields| %>
      <div class="col-md-12">
        <h5>Post (copied)</h5>
      </div>
      <div class="col-md-12" id="post-textarea-col">
        <div class= "form-group">
          <%= post_fields.text_area :content, class: "form-control", rows: "3", placeholder: "Tell the world something..." %>
        </div>
      </div>

      <div class ="col-md-12" >
        <div class="form-group pull-right">
          <%= post_fields.submit "Post", class: "btn btn-primary", role: "Post" %>
        </div>
      </div>
    <% end %>
<% end %>