<section class = "row" id= "timeline-photos">
  <header class="col-md-12">
      <h4>Photos (123) (copied text area)</h4>
  </header>

  <div class="col-md-4 photo">
    <a class = "photo-link" href="#">
      <img src="assets/user_silhouette_generic.gif">
    </a>
    <div class = "photo-upload-date">
      <p>Uploaded January 1, 2015</p>
    </div>
  </div>
  <div class="col-md-4 photo">
    <a class = "photo-link" href="#">
      <img src="assets/user_silhouette_generic.gif">
    </a>
    <div class = "photo-upload-date">
      <p>Uploaded January 1, 2015</p>
    </div>
  </div>
  <div class="col-md-4 photo">
    <a class = "photo-link" href="#">
      <img src="assets/user_silhouette_generic.gif">
    </a>
    <div class = "photo-upload-date">
      <p>Uploaded January 1, 2015</p>
    </div>
  </div>
  <div class="col-md-4 photo">
    <a class = "photo-link" href="#">
      <img src="assets/user_silhouette_generic.gif">
    </a>
    <div class = "photo-upload-date">
      <p>Uploaded January 1, 2015</p>
    </div>
  </div>
  <div class="col-md-4 photo">
    <a class = "photo-link" href="#">
      <img src="assets/user_silhouette_generic.gif">
    </a>
    <div class = "photo-upload-date">
      <p>Uploaded January 1, 2015</p>
    </div>
  </div>
  <div class="col-md-4 photo">
    <a class = "photo-link" href="#">
      <img src="assets/user_silhouette_generic.gif">
    </a>
    <div class = "photo-upload-date">
      <p>Uploaded January 1, 2015</p>
    </div>
  </div>
  <div class="col-md-4 photo">
    <a class = "photo-link" href="#">
      <img src="assets/user_silhouette_generic.gif">
    </a>
    <div class = "photo-upload-date">
      <p>Uploaded January 1, 2015</p>
    </div>
  </div>
  <div class="col-md-4 photo">
    <a class = "photo-link" href="#">
      <img src="assets/user_silhouette_generic.gif">
    </a>
    <div class = "photo-upload-date">
      <p>Uploaded January 1, 2015</p>
    </div>
  </div>
  <div class="col-md-4 photo">
    <a class = "photo-link" href="#">
      <img src="assets/user_silhouette_generic.gif">
    </a>
    <div class = "photo-upload-date">
      <p>Uploaded January 1, 2015</p>
    </div>
  </div>
  <div class="col-md-12">
    <a href="photos.html">See more photos!</a>
  </div>

</section><!--photos-->
