<section class = "row" id= "timeline-photos">
  <header class="col-md-12">
      <h4>Photos (<%= @photos.count %>)</h4>
  </header>

  <% @photos.each do |photo| %>
    <div class="col-md-4 photo">
      <a class = "photo-link" href="#">
      <%= link_to photo_path(photo), class: "photo-link" do %>
        <%= image_tag photo.image.url(:thumb) %>
      <% end %>
      </a>
      <div class = "photo-upload-date">
        <p>Uploaded <%= photo.date %></p>
      </div>
    </div>
  <% end %>
  
  <div class="col-md-12">
    <a href="photos.html">See more photos!</a>
  </div>

</section><!--photos-->
