// Place all the styles related to the newsfeed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#newsfeed-post-form {
  margin-bottom: 75px;
}

.newsfeed-post {
  margin-bottom: 40px;
}


.newsfeed-post-content {
  margin-top: 25px;
}