// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.photo-upload-date {
  width: 90%;
}

.photo-option {
  text-align: center;
}

#or {
  text-align: center;
}

#new-photo-wrapper form {
  text-align: center;
}

#new-photo-wrapper form input {
  text-align: center;
}

#photo-image {
  margin-left: 50px;
}

#web-btn {
  display: inline-block;
  text-align: center;
}



.photo-show-section {
  margin-top: 50px;
}


.photo-show {

  #photo-links { 
    margin-top: 20px;
    margin-right: 120px;
  }
  
  #header {
    margin-bottom: 50px;
  }
  #like {
    margin-top: 20px;
  }

  #photo-comments {
    margin-top: 40px;
    padding: 20px;
    border: solid 1px black;
    background-color: lightgray;
  }

  .photo-comment {
    margin-bottom: 20px;
  }

  .comment-content p {
    margin-left: 100px;
    margin-top: 15px;
  }

  #comment-btn {
    margin-right: 70px;
  }
}