// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-option {
  text-align: center;
}

#or {
  text-align: center;
}

#new-photo-wrapper form {
  text-align: center;
}

#new-photo-wrapper form input {
  text-align: center;
}

#photo-image {
  margin-left: 50px;
}

#web-btn {
  display: inline-block;
  text-align: center;
}



.photo-show-section {
  margin-top: 50px;
}